.banner {
    margin-bottom: 8rem;

    @media #{$lg} {
        margin-bottom: 5rem;
    }

    &__wrapper {
        position: relative;
        display: flex;
        background-color: rgba(#fff, 0.6);
        box-sizing: border-box;
        backdrop-filter: blur(4px);
        padding: 1rem 0 1rem 1rem;
        border: 1px #fff solid;
        border-radius: 2rem;

        @media #{$lg} {
            flex-direction: column;
            gap: 1.6rem;
            padding: 1.6rem 1.2rem 0;
        }

        &::before {
            content: '';
            position: absolute;
            width: calc(100% - 30.5rem);
            height: calc(100% - 2rem);
            background: linear-gradient(90deg, transparent 0%, rgba(#fff, 0.6) 63%, transparent 100%);
            z-index: 1;
            pointer-events: none;
            transform: translateY(-50%);
            top: 50%;
            right: 0;

            @media #{$lg} {
                content: none;
            }
        }

        &>img {
            position: absolute;
            width: 50rem;
            height: 21rem;
            object-fit: cover;
            object-position: center;
            border-radius: 1.5rem;
            transform: translateY(-50%);
            top: 50%;
            right: 0;

            @media #{$lg} {
                position: relative;
                width: calc(100% + 2.4rem);
                height: auto;
                aspect-ratio: 347 / 144;
                border-radius: 2rem;
                transform: translateX(-1.2rem);
                top: auto;
                right: auto;
            }
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: calc(100% - 50rem);
        min-height: 16.2rem;
        background: url(../images/banner-record-bg.jpg) no-repeat center / cover;
        box-sizing: border-box;
        padding: 2rem 2rem 3.7rem 1.8rem;
        border-radius: 2rem 0 0 2rem;

        @media #{$lg} {
            justify-content: start;
            gap: 1.3rem;
            width: 100%;
            min-height: 0;
            background: transparent;
            padding: 0;
            border-radius: 0;
        }
    }

    &__block {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2.2rem;
        z-index: 1;

        @media #{$lg} {
            display: block;
            gap: 0;
        }

        h2 {
            font-weight: 600;
            font-size: 3rem;
            line-height: 3rem;
            color: $color-active;

            @media #{$lg} {
                font-size: 2rem;
                line-height: 2rem;
            }
        }

        p {
            font-size: 1.6rem;
            line-height: 2rem;
            text-align: end;
            color: $color-primary;

            @media #{$lg} {
                font-size: 1.4rem;
                line-height: 1.8rem;
                text-align: start;
            }
        }

        .btn {
            @media #{$lg} {
                width: 100%;
                height: 4.2rem;
            }
        }
    }

    &__phone {
        font-size: 2rem;
        line-height: 3rem;
        color: $color-primary;

        @media #{$lg} {
            display: none;
        }

        &_mob {
            display: none;

            @media #{$lg} {
                font-size: 1.4rem;
                line-height: 1.8rem;
                display: block;
                margin-bottom: 2rem;
            }
        }
    }
}