.control {
    margin-bottom: 8rem;

    @media #{$lg} {
        margin-bottom: 4.2rem;
    }

    &__slider {
        width: 100%;
        margin-bottom: 3rem;

        @media #{$lg} {
            width: calc(100% + 1.4rem);
            margin-bottom: 1.5rem;
        }

        @media #{$md} {
            width: 100%;
        }

        &__controls {
            display: flex;
            align-items: center;

            @media #{$lg} {
                flex-direction: column;
                gap: 1.5rem;
            }

            .slider {
                &-progressbar {
                    position: relative;
                    margin-right: 1.3rem;

                    @media #{$lg} {
                        width: calc(100% - 2.4rem);
                        margin: 0 auto;
                    }
                }

                &-arrow {
                    flex-shrink: 0;

                    @media #{$lg} {
                        display: none;
                    }

                    &-prev {
                        margin-right: 2.3rem;
                    }

                    &-next {
                        margin-right: 0.8rem;
                    }
                }
            }

            .btn-more {
                font-size: 1.4rem;
                line-height: 1.4rem;
                padding: 0 4.6rem 0 2rem;

                @media #{$lg} {
                    height: 5.6rem;
                }

                &::before {
                    right: 2.4rem;

                    @media #{$lg} {
                        right: 5.5rem;
                    }
                }
            }
        }
    }

    &__card {
        position: relative;
        box-sizing: border-box;
        min-height: 45rem;
        background-color: rgba(#fff, 0.5);
        padding: 0.8rem;
        border-radius: 2rem;
        transition: all .2s linear;

        @media #{$lg} {
            min-height: 47.5rem;
        }

        &:hover {
            box-shadow: 0 0.4rem 3rem 0 rgba($color-active, 0.15);

            h3 {
                color: $color-active;
            }
        }

        &>a {
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 2;
            top: 0;
            left: 0;
        }

        img {
            width: 100%;
            height: auto;
            aspect-ratio: 1 / 1;
            object-fit: cover;
            object-position: center;
            border-radius: 1.5rem;
            margin-bottom: 1.6rem;
        }

        h3 {
            font-weight: 500;
            font-size: 2rem;
            line-height: 2rem;
            color: $color-primary;
            padding: 0 0.8rem;
            margin-bottom: 1rem;
            transition: all .2s linear;
        }

        p {
            font-size: 1.4rem;
            line-height: 1.6rem;
            color: $color-secondary;
            padding: 0 0.8rem;
        }
    }
}