.donors {
    margin-bottom: 6rem;

    @media #{$lg} {
        margin-bottom: 3rem;
    }

    .title {
        margin-bottom: 7.5rem;
        
        @media #{$lg} {
            margin-bottom: 2rem;
        }
    }

    &__subtitle {
        color: $color-primary;
        margin-bottom: 2rem;

        @media #{$lg} {
            margin-bottom: 1rem;
            padding: 0 1.2rem;
        }
    }

    &__content {
        margin-bottom: 7rem;

        @media #{$lg} {
            margin-bottom: 4.5rem;
        }
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 2.2rem;
        margin-bottom: 3.5rem;

        @media #{$lg} {
            flex-direction: column;
            gap: 1.5rem;
            margin-bottom: 3rem;
        }
    }

    &__card {
        position: relative;
        display: flex;
        gap: 2.5rem;
        width: calc(50% - 1.1rem);
        background-color: rgba(#fff, 0.5);
        backdrop-filter: blur(4px);
        box-sizing: border-box;
        padding: 1.3rem;
        border: 1px #fff solid;
        border-radius: 2rem;

        @media #{$lg} {
            align-items: center;
            gap: 1.5rem;
            width: 100%;
            padding: 5rem 1.2rem 7rem;
        }

        &__image {
            flex-shrink: 0;
            display: flex;
            width: 28rem;
            height: 38rem;

            @media #{$lg} {
                width: 25rem;
                height: 100%;
                aspect-ratio: 173 / 230;
            }

            @media #{$md} {
                width: 17.3rem;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
                border-radius: 1.5rem;
            }
        }

        &__content {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding-top: 1rem;

            @media #{$lg} {
                padding: 0;
            }

            .btn {
                height: 4.8rem;
                background: linear-gradient(90deg, #DBE7F3 0%, #DBE7F3 50%, #00CBCF 50%, $color-active 100%);
                background-size: 200%;
                padding: 0 8.7rem 0 7rem;

                @media #{$lg} {
                    position: absolute;
                    width: calc(100% - 2.4rem);
                    left: 1.2rem;
                    bottom: 1.2rem;
                }

                &:hover {
                    color: #fff;
                    background-position: right;
                }
            }
        }

        &__title {
            font-weight: 600;
            font-size: 2.5rem;
            color: $color-primary;

            @media #{$lg} {
                position: absolute;
                font-size: 2rem;
                top: 1.5rem;
                left: 1.2rem;
            }
        }

        &__chars {
            display: flex;
            flex-direction: column;
            gap: 2.5rem;

            @media #{$lg} {
                gap: 1rem;
            }
        }

        &__char {
            display: flex;
            align-items: center;
            gap: 2.5rem;


            img {
                width: 3rem;
                height: 3rem;
                object-fit: contain;
                object-position: center;

                @media #{$lg} {
                    display: none;
                }
            }

            &>div {
                p {
                    font-size: 1.4rem;
                    line-height: 1.6rem;
                    color: $color-secondary;

                    @media #{$lg} {
                        line-height: 1.4rem;
                    }
                }

                span {
                    font-weight: 500;
                    font-size: 1.6rem;
                    line-height: 1.6rem;
                    color: $color-primary;

                    @media #{$lg} {
                        font-size: 1.4rem;
                        line-height: 1.4rem;
                    }
                }
            }
        }
    }

    &__detail-text {
        @media #{$lg} {
            padding: 0 1.4rem;
        }

        h2 {
            font-weight: 600;
            font-size: 3rem;
            line-height: 2.2rem;
            color: $color-primary;
            margin-bottom: 2.8rem;

            @media #{$lg} {
                font-size: 2rem;
                margin-bottom: 1rem;
            }

            &:first-of-type {
                @media #{$lg} {
                    font-size: 2.5rem;
                }
            }
        }

        p, ul, ol {
            margin-bottom: 3.4rem;

            &:last-of-type {
                margin-bottom: 0;
            }
        }

        p, li {
            font-size: 1.6rem;
            line-height: 2.2rem;
            color: $color-primary;

            @media #{$lg} {
                font-size: 1.4rem;
                line-height: 1.8rem;
            }
        }

        ul {
            padding-left: 2rem;

            @media #{$lg} {
                padding-left: 1.5rem;
            }
        }

        ol {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-auto-flow: column;
            grid-template-rows: repeat(2, auto);
            gap: 2.2rem 6rem;
            padding-left: 0;
            list-style: none;
            counter-reset: item 0;

            @media #{$lg} {
                display: block;
            }

            li {
                position: relative;
                display: flex;
                counter-increment: item;
                break-inside: avoid;
                padding-left: 2.7rem;

                @media #{$lg} {
                    padding-left: 3.1rem;
                }

                &::before {
                    content: counter(item, decimal-leading-zero) ". ";
                    position: absolute;
                    font-weight: 500;
                    font-size: 1.6rem;
                    line-height: 2.2rem;
                    color: $color-active;
                    top: 0;
                    left: 0;

                    @media #{$lg} {
                        top: -0.2rem;
                    }
                }
            }
        }
    }
}