.donor {
    margin-bottom: 5.5rem;

    @media #{$lg} {
        margin-bottom: 3rem;
    }

    &__title_mob {
        display: none;

        @media #{$lg} {
            display: initial;
            margin-bottom: 0;
        }
    }

    &__info {
        display: flex;
        gap: 2.2rem;
        margin-bottom: 2rem;

        @media #{$lg} {
            position: relative;
            flex-direction: column-reverse;
            gap: 1.5rem;
            margin-bottom: 5rem;
        }

        .donor__block {
            .title {
                font-size: 3.5rem;
                text-align: left;
                margin-bottom: 5.5rem;

                @media #{$lg} {
                    display: none;
                }
            }
        }
    }

    &__block {
        flex-shrink: 0;
        background-color: rgba(#fff, 0.3);
        backdrop-filter: blur(4px);
        box-sizing: border-box;
        padding: 4rem;
        border: 1px #fff solid;
        border-radius: 2rem;

        @media #{$lg} {
            background-color: transparent;
            backdrop-filter: none;
            padding: 0 1.2rem;
            border: none;
            border-radius: 0;
        }

        h2 {
            font-weight: 600;
            font-size: 3.5rem;
            color: $color-primary;
            margin-bottom: 5.5rem;

            @media #{$lg} {
                font-size: 2rem;
                line-height: 1.6rem;
                margin-bottom: 2rem;
            }
        }
    }

    &__chars {
        display: flex;
        flex-wrap: wrap;
        gap: 4rem 0;
        max-width: 78rem;
        width: 100%;
        margin-bottom: 7rem;

        @media #{$lg} {
            gap: 2rem;
            max-width: none;
            flex-direction: column;
            margin-bottom: 2rem;
        }

        .donors__card__char {
            width: 50%;

            @media #{$lg} {
                gap: 2rem;
                width: 100%;
            }

            img {
                @media #{$lg} {
                    display: initial;
                }
            }
        }

        &_detail {
            max-width: 117rem;
            margin-bottom: 4.5rem;

            @media #{$lg} {
                max-width: none;
                margin-bottom: 2rem;
            }

            .donors__card__char {
                width: 33.33%;

                @media #{$lg} {
                    width: 100%;
                }
            }
        }
    }

    &__oocyte {
        display: flex;
        align-items: center;
        gap: 2.5rem;

        @media #{$lg} {
            gap: 2rem;
        }

        img {
            width: 3rem;
            height: 3rem;
            object-fit: contain;
            object-position: center;
        }

        &>div {
            p {
                font-size: 1.6rem;
                line-height: 1.6rem;
                color: $color-secondary;
                margin-bottom: 0.3rem;

                @media #{$lg} {
                    font-size: 1.4rem;
                    line-height: 1.4rem;
                }
            }

            span {
                font-size: 2rem;
                line-height: 1.6rem;
                color: $color-primary;

                @media #{$lg} {
                    font-size: 1.6rem;
                }

                b {
                    font-size: 2rem;
                    color: $color-active;

                    @media #{$lg} {
                        font-size: 1.6rem;
                    }
                }
            }
        }
    }

    &__gallery {
        position: relative;
        width: 39.2rem;
        background-color: rgba(#fff, 0.5);
        backdrop-filter: blur(4px);
        box-sizing: border-box;
        padding: 1.5rem 1.5rem 3rem;
        border: 1px #fff solid;
        border-radius: 2rem;

        @media #{$lg} {
            width: 75%;
            margin: 0 auto;
        }

        @media #{$md} {
            width: 100%;
            padding: 1.2rem 1.2rem 3rem;
            margin: 0;
        }

        .swiper {
            margin-bottom: 1.5rem;

            @media #{$lg} {
                margin-bottom: 2.3rem;
            }
        }

        &__item {
            a {
                display: flex;
                width: 100%;
                height: 100%;

                img {
                    width: 100%;
                    height: 100%;
                    aspect-ratio: 362 / 480;
                    object-fit: cover;
                    object-position: center;
                    border-radius: 1.5rem;

                    @media #{$lg} {
                        aspect-ratio: 323 / 430;
                    }
                }
            }
        }

        &__arrows {
            position: absolute;
            display: flex;
            justify-content: space-between;
            width: calc(100% + 3rem);
            pointer-events: none;
            z-index: 2;
            transform: translate(-50%, -50%);
            top: 50%;
            left: 50%;

            @media #{$lg} {
                display: none;
            }

            .slider-arrow {
                pointer-events: all;
            }
        }

        .slider-progressbar {
            position: relative;
        }
    }

    &__detail {
        margin-bottom: 1.8rem;

        @media #{$lg} {
            margin-bottom: 2.5rem;
        }

        .donor__oocyte {
            &>div {
                p {
                    font-size: 1.4rem;
                    margin-bottom: 0;

                    @media #{$lg} {
                        line-height: 1.6rem;
                    }
                }

                span {
                    &, b {
                        font-weight: 500;
                        font-size: 1.6rem;
                        color: $color-primary;
                    }

                }
            }
        }
    }

    &__back {
        display: flex;
        align-items: center;
        gap: 1rem;
        width: max-content;
        height: 4.8rem;
        background-color: rgba(#fff, 0.3);
        box-shadow: 0 0 3rem 0 rgba($color-active, 0.15);
        box-sizing: border-box;
        padding: 0 2.6rem 0 1.2rem;
        border: 1px rgba(#fff, 0.5) solid;
        border-radius: 5rem;
        transition: all .1s linear;

        @media #{$lg} {
            position: relative;
            justify-content: center;
            width: 100%;
            padding: 0;
        }

        &:hover {
            background-color: rgba(#fff, 0.5);

            svg {
                path {
                    fill: $color-active-secondary;

                    &:last-of-type {
                        stroke: $color-active-secondary;
                        fill: none;
                    }
                }
            }
        }   

        svg {
            width: 2.4rem;
            height: 2.4rem;

            @media #{$lg} {
                position: absolute;
                transform: translateY(-50%);
                top: 50%;
                left: 1.2rem;
            }

            path {
                transition: all .1s linear;
            }
        }
    }
}