.drop-down {
    position: fixed;
    width: 100%;
    // pointer-events: none;
    // opacity: 0;
    transition: all .3s ease-in-out;
    top: 11rem;
    left: 0;
    z-index: 101;

    @media #{$lg} {
        display: none;
    }

    &.active {
        pointer-events: all;
        opacity: 1;
    }

    &_mob {
        top: 5.5rem;

        .drop-down__content {
            margin-top: 4.4rem;
        }
    }

    &__content {
        background-color: rgba(#fff, 0.8);
        backdrop-filter: blur(30px);
        box-sizing: border-box;
        padding: 4.5rem 3.5rem 8.5rem;
        border-radius: 2rem;
        margin: 2.6rem auto 0;
    }

    &__header {
        margin-bottom: 4rem;
        
        &__title {
            font-size: 1.6rem;
            color: $color-secondary;
            padding-left: 2.5rem;
            margin-bottom: 0.8rem;
        }

        &__content {
            display: flex;
            justify-content: space-between;
            box-shadow: 0 0 6rem 0 rgba(#CFD8E2, 0.6);
            height: 5.6rem;
            padding: 0 2.6rem;
            border-radius: 2rem;

            .btn-more {
                height: 100%;
                background: transparent;
                backdrop-filter: none;
                padding: 0 2.5rem;

                &::before {
                    right: 0;
                }
            }
        }
    }

    &__popular {
        display: flex;
        gap: 10rem;
        height: 100%;

        &__item {
            font-size: 1.6rem;
            text-decoration: none;
            color: $color-active;
            display: flex;
            align-items: center;
            height: 100%;
            transition: all .1s linear;

            &:hover {
                color: $color-active-secondary;
            }
        }
    }

    &__lists {
        display: flex;
        gap: 2.5rem;
    }

    &__list {
        position: relative;
        max-width: 28.8rem;
        padding-right: 3rem;

        &:last-of-type {
            padding-right: 0;

            &::before {
                content: none;
            }
        }

        &::before {
            content: '';
            position: absolute;
            width: 1px;
            height: calc(100% + 6.5rem);
            background-color: #E4F1F2;
            top: -2rem;
            right: 0;
        }

        &>ul {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            list-style: none;
            padding-left: 0;

            &>li {
                position: relative;
                padding-left: 3rem;

                &.active {
                    &>a {
                        color: $color-active;
                    }
                }

                &>a {
                    font-size: 1.6rem;
                    text-decoration: none;
                    color: $color-primary;
                    transition: all .1s linear;

                    &:hover {
                        color: $color-active;
                    }
                }
            }
        }

        &__sub {
            cursor: pointer;

            &.active {
                &::before {
                    opacity: 0;
                }

                &::after {
                    opacity: 1;
                }
            }

            &::before, &::after {
                content: '';
                position: absolute;
                width: 2.5rem;
                height: 2.5rem;
                transition: all .1s linear;
                top: -0.4rem;
                left: 0;
            }

            &::before {
                background: url(../images/svg/plus.svg) no-repeat center / contain;
                opacity: 1;
            }

            &::after {
                background: url(../images/svg/minus.svg) no-repeat center / contain;
                opacity: 0;
            }

            ul {
                display: none;
                flex-direction: column;
                gap: 0.6rem;
                list-style: none;
                padding-left: 0;
                margin-top: 1.5rem;

                li {
                    a {
                        font-size: 1.4rem;
                        text-decoration: none;
                        color: #4B5563;
                        transition: all .1s linear;

                        &:hover {
                            color: $color-active;
                        }
                    }
                }
            }
        }
    }
}