.promotions {
    margin-bottom: 6rem;

    &__content {
        display: flex;
        max-width: 152rem;
    }

    &__item {
        position: relative;
        box-sizing: border-box;
        border-radius: 2rem;
        overflow: hidden;
        transition: all .3s linear;

        &:hover {
            box-shadow: 0 0.4rem 7rem 0 rgba(#005B5D, 0.2);
        }

        &:nth-of-type(1) {
            width: 30.5rem;
            height: 53rem;

            @media #{$lg} {
                width: calc(54% - 0.5rem);
                height: auto;
                aspect-ratio: 183 / 314;
            }

            @media #{$md} {
                aspect-ratio: 183 / 320;
            }
        }

        &:nth-of-type(2) {
            width: 25.5rem;
            height: 25.5rem;
        }

        &:nth-of-type(3),
        &:nth-of-type(4),
        &:nth-of-type(5),
        &:nth-of-type(6) {
            width: 44.5rem;
            height: 25.5rem;
        }

        &:nth-of-type(2),
        &:nth-of-type(4) {
            @media #{$lg} {
                width: calc(46% - 0.5rem);
                height: auto;
                aspect-ratio: 1 / 1;
            }
        }

        &:nth-of-type(4) {
            @media #{$lg} {
                order: -1;
            }
        }

        &:nth-of-type(3),
        &:nth-of-type(5),
        &:nth-of-type(6) {
            @media #{$lg} {
                width: 100%;
                height: auto;
                aspect-ratio: 347 / 198;
            }
        }

        &>a {
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 1;
            top: 0;
            left: 0;
        }

        picture, img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }

        &_all {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            width: 25.5rem;
            height: 25.5rem;
            box-shadow: 0 0.4rem 7rem 0 rgba(#005B5D, 0.2);
            overflow: visible;

            @media #{$lg} {
                width: 100%;
                height: 5rem;
                margin-top: 1rem;
            }

            &:hover {
                p {
                    color: $color-active;
                }
            }

            &::before {
                content: '';
                position: absolute;
                width: 62.4rem;
                height: 58.5rem;
                background: url(../images/promotions-all-decor.png) no-repeat center / contain;
                pointer-events: none;
                transform: translate(-50%, -50%);
                top: 50%;
                left: 50%;

                @media #{$lg} {
                    content: none;
                }
            }

            p {
                font-weight: 500;
                font-size: 1.4rem;
                text-transform: uppercase;
                color: $color-secondary;
                transition: all .1s linear;
            }

            svg {
                width: 1.1rem;
                height: 0.9rem;
            }

            &__border {
                position: absolute !important;
                width: calc(100% - 1rem);
                height: calc(100% - 1rem);
                rotate: -7deg;
                border: 1px #fff solid;
                border-radius: 2rem;
                pointer-events: none;
                left: 0 !important;
                bottom: 0 !important;

                @media #{$lg} {
                    display: none;
                }
            }
        }
    }
}