.reviews {
    position: relative;
    background: url(../images/reviews-bg.jpg) no-repeat center / cover;
    padding: 5rem 0 11.5rem;

    @media #{$lg} {
        padding: 0 0 5rem;
    }

    &::before {
        content: none;

        @media #{$lg} {
            content: '';
            position: absolute;
            width: 100%;
            height: 4rem;
            background: linear-gradient(0deg, #fff, transparent);
            left: 0;
            bottom: 0;
        }
    }

    &__header {
        display: flex;
        align-items: center;
        gap: 4rem;
        width: 100%;
        background: rgba(#fff, 0.5);
        box-shadow: 0 0.4rem 6rem 0 rgba(#043131, 0.05);
        box-sizing: border-box;
        padding: 0.8rem;
        border: 1px #fff solid;
        border-radius: 1.5rem;
        margin-bottom: 3rem;

        @media #{$lg} {
            flex-direction: column;
            gap: 2.2rem;
            padding: 0.7rem 0.7rem 2rem;
            margin-bottom: 1.5rem;
        }

        &__total {
            display: flex;
            align-items: center;
            gap: 3rem;
            width: max-content;
            height: 5.4rem;
            background-color: #fff;
            box-sizing: border-box;
            padding: 0 2rem;
            border-radius: 1.5rem;

            @media #{$lg} {
                justify-content: center;
                width: 100%;
            }
        }

        &__rating {
            font-weight: 700;
            font-size: 3.5rem;
            color: $color-active;
            position: relative;
            display: flex;
            align-items: center;
            gap: 1rem;
            height: 100%;
            padding: 0 3.5rem;

            &::before {
                content: '';
                position: absolute;
                width: 1px;
                height: calc(100% - 3rem);
                background-color: #C9E2EF;
                transform: translateY(-50%);
                top: 50%;
                right: 0;
            }

            svg {
                width: 2rem;
                height: 2rem;
            }
        }

        &__count {
            display: flex;
            align-items: center;
            gap: 0.8rem;

            svg {
                width: 2rem;
                height: 2rem;
            }

            span {
                font-size: 1.6rem;
                color: $color-secondary;

                i {
                    font-style: normal;
                    font-size: 2rem;
                    color: $color-primary;
                }
            }
        }

        &__sources {
            display: flex;
            gap: 2rem;
            height: 5rem;
            overflow-x: scroll;

            @media #{$lg} {
                gap: 3rem;
                width: calc(100% - 2.4rem);
                height: 2.5rem;
            }

            &::-webkit-scrollbar {
                width: 0;
                height: 0;
            }

            &__item {
                position: relative;
                text-decoration: none;
                color: #000;
                display: flex;
                align-items: center;
                height: 100%;
                padding: 0 2rem;

                @media #{$lg} {
                    padding: 0;
                }

                &:hover {
                    &, span, i {
                        color: $color-active !important;
                    }
                }

                &.active {
                    pointer-events: none;

                    &::before {
                        width: 100%;
                    }
                }

                &::before {
                    content: '';
                    position: absolute;
                    width: 0;
                    height: 1px;
                    background-color: $color-active;
                    transition: all .3s ease-in-out;
                    left: 0;
                    bottom: 0;
                }

                &, span, i {
                    font-size: 1.8rem;
                    transition: all .1s linear;
                }

                i {
                    font-style: normal;
                    color: $color-active;
                    margin-left: 1.4rem;

                    @media #{$lg} {
                        font-weight: 600;
                    }
                }
            }
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 3rem;

        @media #{$lg} {
            gap: 2rem;
        }
    }

    &__slider {
        &__controls {
            display: flex;
            align-items: center;
            gap: 2.5rem;
            padding-left: 3rem;

            @media #{$lg} {
                padding: 0 3rem;
            }

            .slider {
                &-progressbar {
                    position: relative;
                }

                &-arrow {
                    @media #{$lg} {
                        display: none;
                    }
                }
            }
        }
    }

    &__slide {
        height: auto;
    }

    &__item {
        display: flex;
        flex-direction: column;
        height: 100%;
        background-color: rgba(#fff, 0.5);
        box-sizing: border-box;
        padding: 2rem 1rem 2.5rem 2.8rem;
        border: 1px #fff solid;
        border-radius: 3rem;

        @media #{$lg} {
            padding: 2rem 1rem 2rem 2rem;
        }

        h3 {
            font-weight: 700;
            font-size: 1.4rem;
            line-height: 2rem;
            color: $color-primary;
        }

        &__info {
            display: flex;
            gap: 0.5rem;
            margin-bottom: 1rem;

            &>a {
                color: #000;

                &:hover {
                    text-decoration: none;
                }

                &, span {
                    font-size: 1.4rem;
                    line-height: 2rem;
                }
            }
        }

        &__date {
            font-size: 1.4rem;
            line-height: 2rem;
            color: $color-secondary;
        }

        .stars {
            margin-bottom: 1rem;
        }

        &__text {
            font-size: 1.4rem;
            line-height: 1.8rem;
            color: $color-primary;
            margin-bottom: 1rem;
        }

        &__footer {
            margin-top: auto;

            a {
                font-size: 1.4rem;
                line-height: 2rem;
                text-decoration: none;
                color: $color-secondary;
                transition: all .1s linear;

                &:hover {
                    color: $color-active;
                }
            }
        }
    }
}